@import url('your url here');

body{

    font-family: 'Arial';
    padding: 0;
    margin: 0;
    background-color: rgb(83, 80, 240);

}

#mySection{

    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* footer / sig */

#footer{

    position: fixed;
    width: 100%;
    bottom:0;
    height: 50px;
    background-color: rgb(28, 68, 143);
    box-sizing: border-box;
    border-top: 3px solid rgb(56, 3, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(56, 3, 56);
    font-weight: bold;

}

#footerContainer{

    width: auto;
    height: 100%;
    display: flex;

}

#profilePic{

    top: 10px;
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

#theImg{

    top: calc(50% - 14px);
    position: absolute;
    border-radius: 50%;
    max-width: 30px;
    border: 1px solid rgb(56, 3, 56);
    box-sizing: border-box;

}

#sig{

    font-size: 13px;
    letter-spacing: 0.75px;
    top: calc(50% - 15px);
    margin-top: 3px;

}

#sig > p > a{

    color: rgb(56, 3, 56);
    text-decoration: none;

}

#slImg{

    top: calc(50% - 15px);
    position: relative;
    border-radius: 50%;
    max-width: 30px;
    border: 1px solid rgb(56, 3, 56);

}

#cpenImg{

    top: calc(50% - 15px);
    position: absolute;
    border-radius: 50%;
    max-width: 30px;

}
